@{
  Layout = "_Layout";
}
<div class="jumbotron">
  <h1 class="display-4">Welcome to Dr. Sillystringz's Factory!</h1>
</div>

@using(@Html.BeginForm("Index", "Machines"))
{
  <input type="submit" value="See All Machines" class="btn btn-primary">
}
<br>
@using(@Html.BeginForm("Index", "Engineers"))
{
  <input type="submit" value="See All Engineers" class="btn btn-primary">
}